body {
    background: #173e53
}

.form-control:focus {
    box-shadow: none;
    border-color: #173e53
}

.profile-button {
    background: #173e53;
    box-shadow: none;
    border: none
}

.img-profile{
    width: 100%;
}

.profile-button:hover {
    background: #173e53
}

.profile-button:focus {
    background: #173e53;
    box-shadow: none
}

.profile-button:active {
    background: #173e53;
    box-shadow: none
}

.back:hover {
    color: #173e53;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}